<ul>
  <li><a href="/authors">Author List</a></li>
  <li><a href="/books">Book List</a></li>
  <li><a href="/">Return Home</a></li>
</ul>

<h1>List of Authors</h1>
<% @authors.each do |author| %>
  <p>
    <%= link_to "#{author.name}", "/authors/#{author.id}" %><br>
    Log created: <%= author.created_at %><br>
  </p>
  
<% end %>
<br>
<h3><a href="/authors/new">New Author</a></h3>